@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  background-color: #3a3a3a; 
  color: #ffffff; 
}

h1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-top: 50px; /* margines od góry */
}

.pytaniaKontener {
  background-color: #222222; /* kolor tła kontenera pytań */
  border-radius: 5px; /* zaokrąglenie rogów */
  border: 3px solid #d4af37; /* obramowanie */
  padding: 20px; /* wewnętrzny odstęp */
  width: 30%; /* szerokość kontenera */
  margin: auto; /* wyśrodkowanie */
  text-align: center; /* wyśrodkowanie tekstu */
  margin-top: 50px; /* margines od góry */
}

#pytania {
  margin-bottom: 20px; /* odstęp między pytaniami a przyciskiem */
}

button {
  background-color: #d4af37; /* kolor tła przycisku */
  color: #ffffff; /* kolor tekstu na przycisku */
  border: none; /* brak obramowania */
  padding: 10px 20px; /* wewnętrzny odstęp */
  font-size: 18px; /* wielkość tekstu */
  cursor: pointer; /* zmiana kursora na wskaźnik */
  border-radius: 5px; /* zaokrąglenie rogów */
}

button:hover {
  background-color: #c48f2a; /* kolor tła przycisku po najechaniu */
}
